body {
	background-position: top; margin: 0px; background-image: url("../images/i_r1_c2.jpg"); background-repeat: repeat-x; background-color: rgb(154, 154, 154);
}
* html body {
	background-position: top; margin: 0px; background-image: url("../images/i_r1_c2.jpg"); background-repeat: repeat-x; background-color: rgb(154, 154, 154);
}
* + html body {
	background-position: top; margin: 0px; background-image: url("../images/i_r1_c2.jpg"); background-repeat: repeat-x; background-color: rgb(154, 154, 154);
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
#top {
	height: 183px;
}
* html #top {
	height: 183px;
}
* + html #top {
	height: 183px;
}
.juzhong {
	width: 1000px; margin-right: auto; margin-left: auto;
}
* html .juzhong {
	width: 1000px; margin-right: auto; margin-left: auto;
}
* + html .juzhong {
	width: 1000px; margin-right: auto; margin-left: auto;
}
#dbzdq {
	width: 300px; color: rgb(255, 255, 255); text-indent: 20px; padding-top: 7px; font-family: "宋体"; font-size: 12px; float: left;
}
* html #dbzdq {
	width: 300px; color: rgb(255, 255, 255); text-indent: 20px; padding-top: 7px; font-family: "宋体"; font-size: 12px; float: left;
}
* + html #dbzdq {
	width: 300px; color: rgb(255, 255, 255); text-indent: 20px; padding-top: 7px; font-family: "宋体"; font-size: 12px; float: left;
}
#dbydq {
	width: 470px; text-align: right; color: rgb(255, 255, 255); padding-top: 7px; padding-right: 10px; font-family: "宋体"; font-size: 12px; float: right;
}
* html #dbydq {
	width: 470px; text-align: right; color: rgb(255, 255, 255); padding-top: 7px; padding-right: 10px; font-family: "宋体"; font-size: 12px; float: right;
}
* + html #dbydq {
	width: 470px; text-align: right; color: rgb(255, 255, 255); padding-top: 7px; padding-right: 10px; font-family: "宋体"; font-size: 12px; float: right;
}
#dbydqss {
	width: 180px; text-align: center; color: rgb(255, 255, 255); padding-right: 5px; font-size: 14px; float: right;
}
* html #dbydqss {
	width: 180px; text-align: center; color: rgb(255, 255, 255); padding-right: 5px; font-size: 14px; float: right;
}
* + html #dbydqss {
	width: 180px; text-align: center; color: rgb(255, 255, 255); padding-right: 5px; font-size: 14px; float: right;
}
#daohang {
	width: 432px; height: 20px; color: rgb(255, 255, 255); padding-top: 7px; clear: both; font-family: "宋体"; font-size: 14px; font-weight: bold; float: left;
}
* html #daohang {
	width: 432px; height: 20px; color: rgb(255, 255, 255); padding-top: 7px; clear: both; font-family: "宋体"; font-size: 14px; font-weight: bold; float: left;
}
* + html #daohang {
	width: 432px; height: 20px; color: rgb(255, 255, 255); padding-top: 7px; clear: both; font-family: "宋体"; font-size: 14px; font-weight: bold; float: left;
}
#ejydaohang {
	background-position: left; width: 432px; height: 20px; color: rgb(255, 255, 255); padding-top: 9px; font-family: "宋体"; font-size: 14px; font-weight: bold; float: left; background-image: url("../images/fw_r2_c2.jpg"); background-repeat: repeat-y;
}
* html #ejydaohang {
	background-position: left; width: 432px; height: 20px; color: rgb(255, 255, 255); padding-top: 9px; font-family: "宋体"; font-size: 14px; font-weight: bold; float: left; background-image: url("../images/fw_r2_c2.jpg"); background-repeat: repeat-y;
}
* + html #ejydaohang {
	background-position: left; width: 432px; height: 20px; color: rgb(255, 255, 255); padding-top: 9px; font-family: "宋体"; font-size: 14px; font-weight: bold; float: left; background-image: url("../images/fw_r2_c2.jpg"); background-repeat: repeat-y;
}
#xaldh {
	width: 100px; padding-top: 4px; float: right;
}
* html #xaldh {
	width: 100px; padding-top: 4px; float: right;
}
* + html #xaldh {
	width: 100px; padding-top: 4px; float: right;
}
#xldh {
	border: 1px solid rgb(255, 255, 255); width: 87px; color: rgb(115, 10, 7); font-family: "宋体"; font-size: 12px;
}
* html #xldh {
	border: 1px solid rgb(255, 255, 255); width: 87px; color: rgb(115, 10, 7); font-family: "宋体"; font-size: 12px;
}
* + html #xldh {
	border: 1px solid rgb(255, 255, 255); width: 87px; color: rgb(115, 10, 7); font-family: "宋体"; font-size: 12px;
}
#syxaldh {
	width: 100px; text-align: center; float: right;
}
* html #syxaldh {
	width: 100px; text-align: center; float: right;
}
* + html #syxaldh {
	width: 100px; text-align: center; float: right;
}
#daohangyou {
	width: 170px; color: rgb(255, 255, 255); padding-top: 9px; font-family: "宋体"; font-size: 12px; float: right;
}
* html #daohangyou {
	width: 170px; color: rgb(255, 255, 255); padding-top: 9px; font-family: "宋体"; font-size: 12px; float: right;
}
* + html #daohangyou {
	width: 170px; color: rgb(255, 255, 255); padding-top: 9px; font-family: "宋体"; font-size: 12px; float: right;
}
#wbrl {
	width: 150px; color: rgb(255, 255, 255); padding-top: 5px; font-family: "宋体"; font-size: 12px; float: right;
}
* html #wbrl {
	width: 150px; color: rgb(255, 255, 255); padding-top: 5px; font-family: "宋体"; font-size: 12px; float: right;
}
* + html #wbrl {
	width: 150px; color: rgb(255, 255, 255); padding-top: 5px; font-family: "宋体"; font-size: 12px; float: right;
}
#sydaohangyou {
	width: 220px; color: rgb(255, 255, 255); padding-top: 2px; font-family: "宋体"; font-size: 12px; float: right;
}
* html #sydaohangyou {
	width: 220px; color: rgb(255, 255, 255); padding-top: 2px; font-family: "宋体"; font-size: 12px; float: right;
}
* + html #sydaohangyou {
	width: 220px; color: rgb(255, 255, 255); padding-top: 2px; font-family: "????"; font-size: 12px; float: right;
}
#synr {
	background-position: top; height: 273px; background-image: url("../images/i_r14_c6.jpg"); background-repeat: no-repeat;
}
* html #synr {
	background-position: top; height: 273px; background-image: url("../images/i_r14_c6.jpg"); background-repeat: no-repeat;
}
* + html #synr {
	background-position: top; height: 273px; background-image: url("../images/i_r14_c6.jpg"); background-repeat: no-repeat;
}
.nrljy {
	background-position: left; width: 112px; height: 220px; text-align: left; padding-top: 10px; padding-right: 4px; padding-left: 4px; float: left; background-image: url("../images/i_r18_c15.jpg"); background-repeat: repeat-y;
}
* html .nrljy {
	background-position: left; width: 112px; height: 220px; text-align: left; padding-top: 10px; padding-right: 4px; padding-left: 4px; float: left; background-image: url("../images/i_r18_c15.jpg"); background-repeat: repeat-y;
}
* + html .nrljy {
	background-position: left; width: 112px; height: 220px; text-align: left; padding-top: 10px; padding-right: 4px; padding-left: 4px; float: left; background-image: url("../images/i_r18_c15.jpg"); background-repeat: repeat-y;
}
.nrljz {
	background-position: right; width: 112px; height: 220px; text-align: left; padding-top: 10px; padding-right: 4px; padding-left: 4px; float: left; background-image: url("../images/i_r18_c15.jpg"); background-repeat: repeat-y; background-left: repeat-y;
}
* html .nrljz {
	background-position: right; width: 112px; height: 220px; text-align: left; padding-top: 10px; padding-right: 4px; padding-left: 4px; float: left; background-image: url("../images/i_r18_c15.jpg"); background-repeat: repeat-y; background-left: repeat-y;
}
* + html .nrljz {
	background-position: right; width: 112px; height: 220px; text-align: left; padding-top: 10px; padding-right: 4px; padding-left: 4px; float: left; background-image: url("../images/i_r18_c15.jpg"); background-repeat: repeat-y; background-left: repeat-y;
}
.dhljbt {
	padding: 5px 0px 0px 15px; height: 20px; color: rgb(255, 255, 255); font-family: "宋体"; font-size: 14px; font-weight: bold;
}
* html .dhljbt {
	padding: 5px 0px 0px 15px; height: 20px; color: rgb(255, 255, 255); font-family: "宋体"; font-size: 14px; font-weight: bold;
}
* + html .dhljbt {
	padding: 5px 0px 0px 15px; height: 20px; color: rgb(255, 255, 255); font-family: "宋体"; font-size: 14px; font-weight: bold;
}
.dhsylj {
	height: 175px; color: rgb(255, 255, 255); line-height: 35px; padding-right: 0px; padding-bottom: 0px; padding-left: 15px; font-family: "宋体"; font-size: 12px;
}
* html .dhsylj {
	height: 175px; color: rgb(255, 255, 255); line-height: 35px; padding-right: 0px; padding-bottom: 0px; padding-left: 15px; font-family: "宋体"; font-size: 12px;
}
* + html .dhsylj {
	height: 175px; color: rgb(255, 255, 255); line-height: 35px; padding-right: 0px; padding-bottom: 0px; padding-left: 15px; font-family: "宋体"; font-size: 12px;
}
.dhsylj a {
	height: 175px; color: rgb(255, 255, 255); line-height: 35px; padding-right: 0px; padding-bottom: 0px; padding-left: 15px; font-family: "宋体"; font-size: 12px;
}
* html .dhsylj a {
	height: 175px; color: rgb(255, 255, 255); line-height: 35px; padding-right: 0px; padding-bottom: 0px; padding-left: 15px; font-family: "宋体"; font-size: 12px;
}
* + html .dhsylj a {
	height: 175px; color: rgb(255, 255, 255); line-height: 35px; padding-right: 0px; padding-bottom: 0px; padding-left: 15px; font-family: "宋体"; font-size: 12px;
}
#sybanquan {
	margin: 0px auto; width: 940px; text-align: center; color: rgb(255, 255, 255); padding-top: 10px; font-family: "宋体"; font-size: 12px;
}
* html #sybanquan {
	margin: 0px auto; width: 940px; text-align: center; color: rgb(255, 255, 255); padding-top: 10px; font-family: "宋体"; font-size: 12px;
}
* + html #sybanquan {
	margin: 0px auto; width: 940px; text-align: center; color: rgb(255, 255, 255); padding-top: 10px; font-family: "宋体"; font-size: 12px;
}
#bjtm {
	width: 540px; height: 28px; filter: Alpha(Opacity=80); z-index: 999999; opacity: 0.8; background-color: rgb(255, 255, 255); -moz-opacity: 0.8;
}
* html #bjtm {
	width: 540px; height: 28px; filter: Alpha(Opacity=80); z-index: 999999; opacity: 0.8; background-color: rgb(255, 255, 255); -moz-opacity: 0.8;
}
* + html #bjtm {
	width: 540px; height: 28px; filter: Alpha(Opacity=80); z-index: 999999; opacity: 0.8; background-color: rgb(255, 255, 255); -moz-opacity: 0.8;
}
#fwnrbj {
	background-position: 36px 400px; background-image: url("../images/fw_r10_c5.png"); background-repeat: no-repeat; background-color: rgb(231, 231, 231);
}
* html #fwnrbj {
	background-position: 36px 400px; background-image: url("../images/fw_r10_c5.png"); background-repeat: no-repeat; background-color: rgb(231, 231, 231);
}
* + html #fwnrbj {
	background-position: 36px 400px; background-image: url("../images/fw_r10_c5.png"); background-repeat: no-repeat; background-color: rgb(231, 231, 231);
}
#gknrbj {
	background-position: 36px 400px; background-image: url("../images/fw_r10_c5.png"); background-repeat: no-repeat; background-color: rgb(231, 231, 231);
}
* html #gknrbj {
	background-position: 36px 400px; background-image: url("../images/fw_r10_c5.png"); background-repeat: no-repeat; background-color: rgb(231, 231, 231);
}
* + html #gknrbj {
	background-position: 36px 400px; background-image: url("../images/fw_r10_c5.png"); background-repeat: no-repeat; background-color: rgb(231, 231, 231);
}
#lbnrbj {
	background-position: 90px 510px; background-image: url("../images/lb_r2_c2.png"); background-repeat: no-repeat; background-color: rgb(138, 144, 70);
}
* html #lbnrbj {
	background-position: 90px 510px; background-image: url("../images/lb_r2_c2.png"); background-repeat: no-repeat; background-color: rgb(138, 144, 70);
}
* + html #lbnrbj {
	background-position: 90px 510px; background-image: url("../images/lb_r2_c2.png"); background-repeat: no-repeat; background-color: rgb(138, 144, 70);
}
#sznrbj {
	background-position: 36px 200px; background-image: url("../images/fw_r10_c5.png"); background-repeat: no-repeat; background-color: rgb(231, 231, 231);
}
* html #sznrbj {
	background-position: 36px 200px; background-image: url("../images/fw_r10_c5.png"); background-repeat: no-repeat; background-color: rgb(231, 231, 231);
}
* + html #sznrbj {
	background-position: 36px 200px; background-image: url("../images/fw_r10_c5.png"); background-repeat: no-repeat; background-color: rgb(231, 231, 231);
}
#yxnrbj {
	background-position: 36px 200px; background-image: url("../images/fw_r10_c5.png"); background-repeat: no-repeat; background-color: rgb(231, 231, 231);
}
* html #yxnrbj {
	background-position: 36px 200px; background-image: url("../images/fw_r10_c5.png"); background-repeat: no-repeat; background-color: rgb(231, 231, 231);
}
* + html #yxnrbj {
	background-position: 36px 200px; background-image: url("../images/fw_r10_c5.png"); background-repeat: no-repeat; background-color: rgb(231, 231, 231);
}
.ejdhzdq {
	width: 256px; float: left;
}
* html .ejdhzdq {
	width: 256px; float: left;
}
* + html .ejdhzdq {
	width: 256px; float: left;
}
.fwdqlm {
	width: 169px; height: 31px; color: rgb(255, 255, 255); letter-spacing: 25px; padding-top: 18px; padding-left: 87px; font-family: "宋体"; font-size: 14px; font-weight: bold; background-color: rgb(195, 92, 15);
}
* html .fwdqlm {
	width: 169px; height: 31px; color: rgb(255, 255, 255); letter-spacing: 25px; padding-top: 18px; padding-left: 87px; font-family: "宋体"; font-size: 14px; font-weight: bold; background-color: rgb(195, 92, 15);
}
* + html .fwdqlm {
	width: 169px; height: 31px; color: rgb(255, 255, 255); letter-spacing: 25px; padding-top: 18px; padding-left: 87px; font-family: "宋体"; font-size: 14px; font-weight: bold; background-color: rgb(195, 92, 15);
}
.szdqlm {
	width: 169px; height: 31px; color: rgb(255, 255, 255); letter-spacing: 25px; padding-top: 18px; padding-left: 87px; font-family: "宋体"; font-size: 14px; font-weight: bold; background-color: rgb(146, 50, 51);
}
* html .szdqlm {
	width: 169px; height: 31px; color: rgb(255, 255, 255); letter-spacing: 25px; padding-top: 18px; padding-left: 87px; font-family: "宋体"; font-size: 14px; font-weight: bold; background-color: rgb(146, 50, 51);
}
* + html .szdqlm {
	width: 169px; height: 31px; color: rgb(255, 255, 255); letter-spacing: 25px; padding-top: 18px; padding-left: 87px; font-family: "宋体"; font-size: 14px; font-weight: bold; background-color: rgb(146, 50, 51);
}
.yxdqlm {
	width: 169px; height: 31px; color: rgb(255, 255, 255); letter-spacing: 25px; padding-top: 18px; padding-left: 87px; font-family: "宋体"; font-size: 14px; font-weight: bold; background-color: rgb(81, 118, 147);
}
* html .yxdqlm {
	width: 169px; height: 31px; color: rgb(255, 255, 255); letter-spacing: 25px; padding-top: 18px; padding-left: 87px; font-family: "宋体"; font-size: 14px; font-weight: bold; background-color: rgb(81, 118, 147);
}
* + html .yxdqlm {
	width: 169px; height: 31px; color: rgb(255, 255, 255); letter-spacing: 25px; padding-top: 18px; padding-left: 87px; font-family: "宋体"; font-size: 14px; font-weight: bold; background-color: rgb(81, 118, 147);
}
.gkdqlm {
	width: 169px; height: 31px; color: rgb(255, 255, 255); padding-top: 18px; padding-left: 87px; font-family: "宋体"; font-size: 14px; font-weight: bold; background-color: rgb(138, 144, 70);
}
* html .gkdqlm {
	width: 169px; height: 31px; color: rgb(255, 255, 255); padding-top: 18px; padding-left: 87px; font-family: "宋体"; font-size: 14px; font-weight: bold; background-color: rgb(138, 144, 70);
}
* + html .gkdqlm {
	width: 169px; height: 31px; color: rgb(255, 255, 255); padding-top: 18px; padding-left: 87px; font-family: "宋体"; font-size: 14px; font-weight: bold; background-color: rgb(138, 144, 70);
}
.zzst {
	width: 5px; margin-top: 49px; margin-left: -5px; float: left;
}
* html .zzst {
	width: 5px; margin-top: 49px; margin-left: -5px; float: left;
}
* + html .zzst {
	width: 5px; margin-top: 49px; margin-left: -5px; float: left;
}
#lbnrbj .ejdhzdq .ejdh a {
	width: 173px; height: 30px; color: rgb(54, 54, 54); padding-top: 20px; padding-left: 83px; font-family: "宋体"; font-size: 14px; font-weight: bold; text-decoration: none; display: block; background-image: url("../images/fw_r8_c3.jpg"); background-repeat: no-repeat;
}
* html #lbnrbj .ejdhzdq .ejdh a {
	width: 173px; height: 30px; color: rgb(54, 54, 54); padding-top: 20px; padding-left: 83px; font-family: "宋体"; font-size: 14px; font-weight: bold; text-decoration: none; display: block; background-image: url("../images/fw_r8_c3.jpg"); background-repeat: no-repeat;
}
* + html #lbnrbj .ejdhzdq .ejdh a {
	width: 173px; height: 30px; color: rgb(54, 54, 54); padding-top: 20px; padding-left: 83px; font-family: "宋体"; font-size: 14px; font-weight: bold; text-decoration: none; display: block; background-image: url("../images/fw_r8_c3.jpg"); background-repeat: no-repeat;
}
#lbnrbj .ejdhzdq .ejdh a:hover {
	width: 173px; height: 30px; color: rgb(54, 54, 54); padding-top: 20px; padding-left: 83px; font-family: "宋体"; font-size: 14px; font-weight: bold; text-decoration: none; display: block; background-image: url("../images/fw_r7_c3.jpg"); background-repeat: no-repeat;
}
* html #lbnrbj .ejdhzdq .ejdh a:hover {
	width: 173px; height: 30px; color: rgb(54, 54, 54); padding-top: 20px; padding-left: 83px; font-family: "宋体"; font-size: 14px; font-weight: bold; text-decoration: none; display: block; background-image: url("../images/fw_r7_c3.jpg"); background-repeat: no-repeat;
}
* + html #lbnrbj .ejdhzdq .ejdh a:hover {
	width: 173px; height: 30px; color: rgb(54, 54, 54); padding-top: 20px; padding-left: 83px; font-family: "宋体"; font-size: 14px; font-weight: bold; text-decoration: none; display: block; background-image: url("../images/fw_r7_c3.jpg"); background-repeat: no-repeat;
}
#fwnrbj .ejdhzdq .ejdh a {
	width: 173px; height: 30px; color: rgb(195, 92, 15); padding-top: 20px; padding-left: 83px; font-family: "宋体"; font-size: 14px; font-weight: bold; text-decoration: none; display: block; background-image: url("../images/fw_r8_c3.png"); background-repeat: no-repeat;
}
* html #fwnrbj .ejdhzdq .ejdh a {
	width: 173px; height: 30px; color: rgb(195, 92, 15); padding-top: 20px; padding-left: 83px; font-family: "宋体"; font-size: 14px; font-weight: bold; text-decoration: none; display: block; background-image: url("../images/fw_r8_c3.png"); background-repeat: no-repeat;
}
* + html #fwnrbj .ejdhzdq .ejdh a {
	width: 173px; height: 30px; color: rgb(195, 92, 15); padding-top: 20px; padding-left: 83px; font-family: "宋体"; font-size: 14px; font-weight: bold; text-decoration: none; display: block; background-image: url("../images/fw_r8_c3.png"); background-repeat: no-repeat;
}
#fwnrbj .ejdhzdq .ejdh a:hover {
	width: 173px; height: 30px; color: rgb(195, 92, 15); padding-top: 20px; padding-left: 83px; font-family: "宋体"; font-size: 14px; font-weight: bold; text-decoration: none; display: block; background-image: url("../images/fw_r7_c3.jpg"); background-repeat: no-repeat;
}
* html #fwnrbj .ejdhzdq .ejdh a:hover {
	width: 173px; height: 30px; color: rgb(195, 92, 15); padding-top: 20px; padding-left: 83px; font-family: "宋体"; font-size: 14px; font-weight: bold; text-decoration: none; display: block; background-image: url("../images/fw_r7_c3.jpg"); background-repeat: no-repeat;
}
* + html #fwnrbj .ejdhzdq .ejdh a:hover {
	width: 173px; height: 30px; color: rgb(195, 92, 15); padding-top: 20px; padding-left: 83px; font-family: "宋体"; font-size: 14px; font-weight: bold; text-decoration: none; display: block; background-image: url("../images/fw_r7_c3.jpg"); background-repeat: no-repeat;
}
#gknrbj .ejdhzdq .ejdh a {
	width: 173px; height: 30px; color: rgb(138, 144, 70); padding-top: 20px; padding-left: 83px; font-family: "宋体"; font-size: 14px; font-weight: bold; text-decoration: none; display: block; background-image: url("../images/fw_r8_c3.png"); background-repeat: no-repeat;
}
* html #gknrbj .ejdhzdq .ejdh a {
	width: 173px; height: 30px; color: rgb(138, 144, 70); padding-top: 20px; padding-left: 83px; font-family: "宋体"; font-size: 14px; font-weight: bold; text-decoration: none; display: block; background-image: url("../images/fw_r8_c3.png"); background-repeat: no-repeat;
}
* + html #gknrbj .ejdhzdq .ejdh a {
	width: 173px; height: 30px; color: rgb(138, 144, 70); padding-top: 20px; padding-left: 83px; font-family: "宋体"; font-size: 14px; font-weight: bold; text-decoration: none; display: block; background-image: url("../images/fw_r8_c3.png"); background-repeat: no-repeat;
}
#gknrbj .ejdhzdq .ejdh a:hover {
	width: 173px; height: 30px; color: rgb(138, 144, 70); padding-top: 20px; padding-left: 83px; font-family: "宋体"; font-size: 14px; font-weight: bold; text-decoration: none; display: block; background-image: url("../images/fw_r7_c3.jpg"); background-repeat: no-repeat;
}
* html #gknrbj .ejdhzdq .ejdh a:hover {
	width: 173px; height: 30px; color: rgb(138, 144, 70); padding-top: 20px; padding-left: 83px; font-family: "宋体"; font-size: 14px; font-weight: bold; text-decoration: none; display: block; background-image: url("../images/fw_r7_c3.jpg"); background-repeat: no-repeat;
}
* + html #gknrbj .ejdhzdq .ejdh a:hover {
	width: 173px; height: 30px; color: rgb(138, 144, 70); padding-top: 20px; padding-left: 83px; font-family: "宋体"; font-size: 14px; font-weight: bold; text-decoration: none; display: block; background-image: url("../images/fw_r7_c3.jpg"); background-repeat: no-repeat;
}
#sznrbj .ejdhzdq .ejdh a {
	width: 173px; height: 30px; color: rgb(146, 50, 52); padding-top: 20px; padding-left: 83px; font-family: "宋体"; font-size: 14px; font-weight: bold; text-decoration: none; display: block; background-image: url("../images/fw_r8_c3.png"); background-repeat: no-repeat;
}
* html #sznrbj .ejdhzdq .ejdh a {
	width: 173px; height: 30px; color: rgb(146, 50, 52); padding-top: 20px; padding-left: 83px; font-family: "宋体"; font-size: 14px; font-weight: bold; text-decoration: none; display: block; background-image: url("../images/fw_r8_c3.png"); background-repeat: no-repeat;
}
* + html #sznrbj .ejdhzdq .ejdh a {
	width: 173px; height: 30px; color: rgb(146, 50, 52); padding-top: 20px; padding-left: 83px; font-family: "宋体"; font-size: 14px; font-weight: bold; text-decoration: none; display: block; background-image: url("../images/fw_r8_c3.png"); background-repeat: no-repeat;
}
#sznrbj .ejdhzdq .ejdh a:hover {
	width: 173px; height: 30px; color: rgb(146, 50, 52); padding-top: 20px; padding-left: 83px; font-family: "宋体"; font-size: 14px; font-weight: bold; text-decoration: none; display: block; background-image: url("../images/fw_r7_c3.jpg"); background-repeat: no-repeat;
}
* html #sznrbj .ejdhzdq .ejdh a:hover {
	width: 173px; height: 30px; color: rgb(146, 50, 52); padding-top: 20px; padding-left: 83px; font-family: "宋体"; font-size: 14px; font-weight: bold; text-decoration: none; display: block; background-image: url("../images/fw_r7_c3.jpg"); background-repeat: no-repeat;
}
* + html #sznrbj .ejdhzdq .ejdh a:hover {
	width: 173px; height: 30px; color: rgb(146, 50, 52); padding-top: 20px; padding-left: 83px; font-family: "宋体"; font-size: 14px; font-weight: bold; text-decoration: none; display: block; background-image: url("../images/fw_r7_c3.jpg"); background-repeat: no-repeat;
}
#yxnrbj .ejdhzdq .ejdh a {
	width: 173px; height: 30px; color: rgb(80, 118, 147); padding-top: 20px; padding-left: 83px; font-family: "宋体"; font-size: 14px; font-weight: bold; text-decoration: none; display: block; background-image: url("../images/fw_r8_c3.png"); background-repeat: no-repeat;
}
* html #yxnrbj .ejdhzdq .ejdh a {
	width: 173px; height: 30px; color: rgb(80, 118, 147); padding-top: 20px; padding-left: 83px; font-family: "宋体"; font-size: 14px; font-weight: bold; text-decoration: none; display: block; background-image: url("../images/fw_r8_c3.png"); background-repeat: no-repeat;
}
* + html #yxnrbj .ejdhzdq .ejdh a {
	width: 173px; height: 30px; color: rgb(80, 118, 147); padding-top: 20px; padding-left: 83px; font-family: "宋体"; font-size: 14px; font-weight: bold; text-decoration: none; display: block; background-image: url("../images/fw_r8_c3.png"); background-repeat: no-repeat;
}
#yxnrbj .ejdhzdq .ejdh a:hover {
	width: 173px; height: 30px; color: rgb(80, 118, 147); padding-top: 20px; padding-left: 83px; font-family: "宋体"; font-size: 14px; font-weight: bold; text-decoration: none; display: block; background-image: url("../images/fw_r7_c3.jpg"); background-repeat: no-repeat;
}
* html #yxnrbj .ejdhzdq .ejdh a:hover {
	width: 173px; height: 30px; color: rgb(80, 118, 147); padding-top: 20px; padding-left: 83px; font-family: "宋体"; font-size: 14px; font-weight: bold; text-decoration: none; display: block; background-image: url("../images/fw_r7_c3.jpg"); background-repeat: no-repeat;
}
* + html #yxnrbj .ejdhzdq .ejdh a:hover {
	width: 173px; height: 30px; color: rgb(80, 118, 147); padding-top: 20px; padding-left: 83px; font-family: "宋体"; font-size: 14px; font-weight: bold; text-decoration: none; display: block; background-image: url("../images/fw_r7_c3.jpg"); background-repeat: no-repeat;
}
.ywknrys {
	width: 744px; padding-bottom: 100px; float: right; background-color: rgb(255, 255, 255);
}
* html .ywknrys {
	width: 744px; padding-bottom: 100px; float: right; background-color: rgb(255, 255, 255);
}
* + html .ywknrys {
	width: 744px; padding-bottom: 100px; float: right; background-color: rgb(255, 255, 255);
}
.yxnrys {
	width: 744px; float: right; background-color: rgb(255, 255, 255);
}
* html .yxnrys {
	width: 744px; float: right; background-color: rgb(255, 255, 255);
}
* + html .yxnrys {
	width: 744px; float: right; background-color: rgb(255, 255, 255);
}
.gknrys {
	width: 744px; padding-bottom: 20px; float: right; background-color: rgb(255, 255, 255);
}
* html .gknrys {
	width: 744px; padding-bottom: 20px; float: right; background-color: rgb(255, 255, 255);
}
* + html .gknrys {
	width: 744px; padding-bottom: 20px; float: right; background-color: rgb(255, 255, 255);
}
.dqwzys {
	width: 710px; height: 30px; text-align: left; color: rgb(54, 54, 54); padding-top: 19px; padding-left: 30px; font-size: 12px; margin-left: 4px; background-image: url("../images/fw_r5_c20.jpg"); background-repeat: no-repeat;
}
* html .dqwzys {
	width: 710px; height: 30px; text-align: left; color: rgb(54, 54, 54); padding-top: 19px; padding-left: 30px; font-size: 12px; margin-left: 4px; background-image: url("../images/fw_r5_c20.jpg"); background-repeat: no-repeat;
}
* + html .dqwzys {
	width: 710px; height: 30px; text-align: left; color: rgb(54, 54, 54); padding-top: 19px; padding-left: 30px; font-size: 12px; margin-left: 4px; background-image: url("../images/fw_r5_c20.jpg"); background-repeat: no-repeat;
}
.yxdqwzys {
	width: 710px; height: 30px; text-align: left; color: rgb(54, 54, 54); padding-top: 19px; padding-left: 30px; font-size: 12px; margin-left: 4px; background-image: url("../images/yx_r2_c4.jpg"); background-repeat: no-repeat;
}
* html .yxdqwzys {
	width: 710px; height: 30px; text-align: left; color: rgb(54, 54, 54); padding-top: 19px; padding-left: 30px; font-size: 12px; margin-left: 4px; background-image: url("../images/yx_r2_c4.jpg"); background-repeat: no-repeat;
}
* + html .yxdqwzys {
	width: 710px; height: 30px; text-align: left; color: rgb(54, 54, 54); padding-top: 19px; padding-left: 30px; font-size: 12px; margin-left: 4px; background-image: url("../images/yx_r2_c4.jpg"); background-repeat: no-repeat;
}
.gkdqwzys {
	width: 710px; height: 30px; text-align: left; color: rgb(54, 54, 54); padding-top: 19px; padding-left: 30px; font-size: 12px; margin-left: 4px; background-image: url("../images/jj_r2_c4.jpg"); background-repeat: no-repeat;
}
* html .gkdqwzys {
	width: 710px; height: 30px; text-align: left; color: rgb(54, 54, 54); padding-top: 19px; padding-left: 30px; font-size: 12px; margin-left: 4px; background-image: url("../images/jj_r2_c4.jpg"); background-repeat: no-repeat;
}
* + html .gkdqwzys {
	width: 710px; height: 30px; text-align: left; color: rgb(54, 54, 54); padding-top: 19px; padding-left: 30px; font-size: 12px; margin-left: 4px; background-image: url("../images/jj_r2_c4.jpg"); background-repeat: no-repeat;
}
.nrdqwzys {
	width: 970px; height: 30px; text-align: left; color: rgb(54, 54, 54); padding-top: 19px; padding-left: 30px; font-size: 12px; background-image: url("../images/jj_r2_c41.jpg"); background-repeat: no-repeat;
}
* html .nrdqwzys {
	width: 970px; height: 30px; text-align: left; color: rgb(54, 54, 54); padding-top: 19px; padding-left: 30px; font-size: 12px; background-image: url("../images/jj_r2_c41.jpg"); background-repeat: no-repeat;
}
* + html .nrdqwzys {
	width: 970px; height: 30px; text-align: left; color: rgb(54, 54, 54); padding-top: 19px; padding-left: 30px; font-size: 12px; background-image: url("../images/jj_r2_c41.jpg"); background-repeat: no-repeat;
}
.lbdht {
	width: 686px; height: 33px; color: rgb(54, 54, 54); font-size: 14px; margin-top: 22px; margin-left: 24px; float: left; background-image: url("../images/fw_r10_c21.png"); background-repeat: no-repeat;
}
* html .lbdht {
	width: 686px; height: 33px; color: rgb(54, 54, 54); font-size: 14px; margin-top: 22px; margin-left: 24px; float: left; background-image: url("../images/fw_r10_c21.png"); background-repeat: no-repeat;
}
* + html .lbdht {
	width: 686px; height: 33px; color: rgb(54, 54, 54); font-size: 14px; margin-top: 22px; margin-left: 24px; float: left; background-image: url("../images/fw_r10_c21.png"); background-repeat: no-repeat;
}
.szlbdht {
	width: 701px; height: 28px; color: rgb(54, 54, 54); font-size: 14px; margin-top: 22px; margin-left: 18px; float: left; background-image: url("../images/sz_r3_c4.png"); background-repeat: no-repeat;
}
* html .szlbdht {
	width: 701px; height: 28px; color: rgb(54, 54, 54); font-size: 14px; margin-top: 22px; margin-left: 18px; float: left; background-image: url("../images/sz_r3_c4.png"); background-repeat: no-repeat;
}
* + html .szlbdht {
	width: 701px; height: 28px; color: rgb(54, 54, 54); font-size: 14px; margin-top: 22px; margin-left: 18px; float: left; background-image: url("../images/sz_r3_c4.png"); background-repeat: no-repeat;
}
.lbys {
	width: 670px; color: rgb(54, 54, 54); font-size: 14px; margin-top: 8px; margin-left: 40px; float: left;
}
* html .lbys {
	width: 670px; color: rgb(54, 54, 54); font-size: 14px; margin-top: 8px; margin-left: 40px; float: left;
}
* + html .lbys {
	width: 670px; color: rgb(54, 54, 54); font-size: 14px; margin-top: 8px; margin-left: 40px; float: left;
}
.szlbys {
	width: 670px; color: rgb(54, 54, 54); font-size: 14px; margin-top: 45px; margin-bottom: 23px; margin-left: 40px; float: left;
}
* html .szlbys {
	width: 670px; color: rgb(54, 54, 54); font-size: 14px; margin-top: 45px; margin-bottom: 23px; margin-left: 40px; float: left;
}
* + html .szlbys {
	width: 670px; color: rgb(54, 54, 54); font-size: 14px; margin-top: 45px; margin-bottom: 23px; margin-left: 40px; float: left;
}
.ejbq {
	height: 117px; background-image: url("../images/fw_r28_c2.jpg"); background-repeat: repeat-x;
}
* html .ejbq {
	height: 117px; background-image: url("../images/fw_r28_c2.jpg"); background-repeat: repeat-x;
}
* + html .ejbq {
	height: 117px; background-image: url("../images/fw_r28_c2.jpg"); background-repeat: repeat-x;
}
