.srkys {
	border-width: 0px;
}
a.c51026 {
	color: rgb(255, 255, 255); font-size: 9pt; text-decoration: none;
}
a.c51026:link {
	color: rgb(255, 255, 255);
}
a.c51026:visited {
	color: rgb(255, 255, 255);
}
a.c51026:active {
	color: rgb(255, 255, 255);
}
a.c51026:hover {
	color: rgb(255, 255, 255);
}
.c51026_jump {
	font-family: 宋体; font-size: 9pt;
}
.nav_menustyle_1_1 ul {
	margin: 0px; padding: 0px; list-style-type: none;
}
.nav_menustyle_1_1 li {
	text-align: center; float: left; position: relative;
}
.nav_menustyle_1_1 ul li ul li {
	white-space: nowrap; z-index: 999999;
}
.nav_menustyle_1_1 ul li ul li ul {
	left: 100%; top: 0px;
}
.nav_menustyle_1_1 table {
	left: 0px; border-collapse: collapse; position: absolute; z-index: 100; border-spacing: 0;
}
.nav_menustyle_1_1 table table {
	top: 0px;
}
.nav_menustyle_1_1 td {
	padding: 0px;
}
.nav_menustyle_1_1 li ul {
	display: none;
}
.nav_menustyle_1_1 li:hover ul li ul {
	display: none;
}
.nav_menustyle_1_1 li:hover ul li:hover ul li ul {
	display: none;
}
.nav_menustyle_1_1 li:hover ul li:hover ul li:hover ul li ul {
	display: none;
}
.nav_menustyle_1_1 li:hover ul li:hover ul li:hover ul li:hover ul li ul {
	display: none;
}
.nav_menustyle_1_1 li a:hover ul li ul {
	visibility: hidden;
}
.nav_menustyle_1_1 li a:hover ul li a:hover ul li ul {
	visibility: hidden;
}
.nav_menustyle_1_1 li a:hover ul li a:hover ul li a:hover ul li ul {
	visibility: hidden;
}
.nav_menustyle_1_1 li a:hover ul li a:hover ul li a:hover ul li a:hover ul li ul {
	visibility: hidden;
}
.nav_menustyle_1_1 li a:hover ul {
	display: block; position: absolute;
}
.nav_menustyle_1_1 li:hover ul {
	display: block; position: absolute;
}
.nav_menustyle_1_1 li:hover ul li:hover ul {
	display: block; position: absolute;
}
.nav_menustyle_1_1 li:hover ul li:hover ul li:hover ul {
	display: block; position: absolute;
}
.nav_menustyle_1_1 li:hover ul li:hover ul li:hover ul li:hover ul {
	display: block; position: absolute;
}
.nav_menustyle_1_1 li:hover ul li:hover ul li:hover ul li:hover ul li:hover ul {
	display: block; position: absolute;
}
.nav_menustyle_1_1 li a:hover ul li a:hover ul {
	visibility: visible;
}
.nav_menustyle_1_1 li a:hover ul li a:hover ul li a:hover ul {
	visibility: visible;
}
.nav_menustyle_1_1 li a:hover ul li a:hover ul li a:hover ul li a:hover ul {
	visibility: visible;
}
.nav_menustyle_1_1 li a:hover ul li a:hover ul li a:hover ul li a:hover ul li a:hover ul {
	visibility: visible;
}
.nav_menustyle_1_1 a {
	text-decoration: none; display: block; white-space: nowrap;
}
.nav_menustyle_1_1 a {
	width: 100px; height: 25px; color: rgb(255, 255, 255); font-size: 14px; font-weight: bold;
}
.nav_menustyle_1_1 a:hover {
	color: rgb(255, 255, 255); font-size: 14px; font-weight: bold;
}
.nav_menustyle_1_1 table {
	top: 24px;
}
.nav_menustyle_1_1 table table {
	left: 91px;
}
.nav_menustyle_1_1 ul li ul li a {
	width: 50px; height: 35px; text-align: center; color: rgb(51, 51, 51); line-height: 30px; font-size: 14px; font-weight: normal; margin-right: 5px; margin-left: 5px; white-space: nowrap;
}
.nav_menustyle_1_1 ul li ul li a:hover {
	width: 50px; height: 35px; text-align: center; color: rgb(51, 51, 51); line-height: 30px; font-size: 14px; font-weight: normal; margin-right: 5px; margin-left: 5px; white-space: nowrap;
}
.nav_menustyle_1_1 ul li ul li ul li a {
	
}
.nav_menustyle_1_1 ul li ul li ul li a:hover {
	
}
.selectstyle51028 {
	border: 1px solid rgb(114, 8, 10); width: 87px; height: 20px; color: rgb(114, 8, 10); font-family: 宋体; font-size: 9pt; position: relative; background-color: rgb(255, 255, 255);
}
.titlestyle51028 {
	text-align: center; color: rgb(114, 8, 10); font-family: 宋体; font-size: 9pt;
}
.selectstyle51029 {
	border: 1px solid rgb(114, 8, 10); width: 87px; height: 20px; color: rgb(114, 8, 10); font-family: 宋体; font-size: 9pt; position: relative; background-color: rgb(255, 255, 255);
}
.titlestyle51029 {
	text-align: center; color: rgb(114, 8, 10); font-family: 宋体; font-size: 9pt;
}
.font51242 {
	font-size: 9pt;
}
.fontstyle51242 {
	margin: 0px; color: rgb(255, 255, 255); padding-top: 2px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9pt; text-decoration: none; display: block;
}
div.sauder-feature {
	left: 0px; top: 0px; width: 1000px; height: 332px; padding-bottom: 0px; margin-bottom: 0px; position: relative; cursor: pointer;
}
div.sauder-feature div.shadow-top {
	left: 0px; top: 0px; width: 100%; height: 6px; overflow: hidden; position: absolute; z-index: 30;
}
div.sauder-feature div.featureitem {
	width: 151px; overflow: hidden; float: left; position: relative; box-shadow: 0px 0px 40px #000000; -webkit-box-shadow: 0px 0px 40px #000000; -moz-box-shadow: 0px 0px 40px #000000;
}
div.sauder-feature div.featureitem a {
	display: block; position: relative; -moz-transition: none; -o-transition: none; -webkit-transition: none; transition: none;
}
div.sauder-feature div.featureitem a:focus {
	background: white;
}
div.sauder-feature div.featureitem a:focus img {
	
}
div.sauder-feature div.subcontent {
	padding: 0px 5px 15px; display: none; position: absolute; z-index: 1;
}
div.sauder-feature div.Left.subcontent {
	left: 50px; bottom: -410px;
}
div.sauder-feature div.Right.subcontent {
	left: 310px; bottom: -340px;
}
div.sauder-feature div.Centre.subcontent {
	left: 200px; bottom: -410px;
}
div.sauder-feature div.subcontent div {
	padding: 5px 20px; width: 373px; background-image: url("images/wzqbjt.png");
}
div.sauder-feature div.subcontent h2 {
	height: 18px; text-align: left; color: white; line-height: 18px; font-family: "微软雅黑"; font-size: 14px; text-shadow: 1px 1px 1px RGBA(0, 0, 0, 0.2);
}
.newschangetitlestyle {
	height: 20px; text-align: left; color: white; line-height: 20px; font-family: "微软雅黑"; font-size: 16px; font-weight: bold; text-shadow: 1px 1px 1px RGBA(0, 0, 0, 0.2);
}
div.sauder-feature div.subcontent p {
	margin-top: 5px;
}
div.sauder-feature div.subcontent strong {
	background: rgb(204, 209, 75); font-weight: normal;
}
div.sauder-feature div.open.featureitem {
	width: 780px;
}
.no-js div.sauder-feature {
	display: none !important;
}
#c51033 ul {
	list-style: none; margin: 0px; padding: 0px;
}
#c51033 ul li a {
	padding: 0px; width: 80px; height: 38px; color: rgb(255, 255, 255); line-height: 40px; font-family: 宋体; font-size: 12px; text-decoration: none; display: block; white-space: nowrap;
}
#c51033 ul li {
	margin-left: 0px; float: left;
}
#c51033 ul li a:hover {
	color: rgb(255, 255, 255);
}
#c51033 ul li a#current {
	color: rgb(255, 255, 255);
}
#c51033 ul li ul {
	border: 0px solid rgb(204, 204, 204); display: none; position: absolute;
}
#c51033 ul li ul li {
	margin: 0px; font-family: 宋体; font-size: 12px; text-decoration: none; float: none;
}
#c51033 ul li ul li a {
	height: 28px; text-align: center; color: rgb(255, 255, 255); line-height: 28px;
}
#c51033 ul li ul li a:hover {
	color: rgb(255, 255, 255);
}
#c51033 ul li:hover ul {
	display: block; z-index: 9999999;
}
#c51033 ul li.sfhover ul {
	display: block;
}
#c51035 ul {
	list-style: none; margin: 0px; padding: 0px;
}
#c51035 ul li a {
	padding: 0px; width: 80px; height: 38px; color: rgb(255, 255, 255); line-height: 40px; font-family: 宋体; font-size: 12px; text-decoration: none; display: block; white-space: nowrap;
}
#c51035 ul li {
	margin-left: 0px; float: left;
}
#c51035 ul li a:hover {
	color: rgb(255, 255, 255);
}
#c51035 ul li a#current {
	color: rgb(255, 255, 255);
}
#c51035 ul li ul {
	border: 0px solid rgb(204, 204, 204); display: none; position: absolute;
}
#c51035 ul li ul li {
	margin: 0px; font-family: 宋体; font-size: 12px; text-decoration: none; float: none;
}
#c51035 ul li ul li a {
	height: 28px; text-align: center; color: rgb(255, 255, 255); line-height: 28px;
}
#c51035 ul li ul li a:hover {
	color: rgb(255, 255, 255);
}
#c51035 ul li:hover ul {
	display: block; z-index: 9999999;
}
#c51035 ul li.sfhover ul {
	display: block;
}
#c51036 ul {
	list-style: none; margin: 0px; padding: 0px;
}
#c51036 ul li a {
	padding: 0px; width: 80px; height: 38px; color: rgb(255, 255, 255); line-height: 40px; font-family: 宋体; font-size: 12px; text-decoration: none; display: block; white-space: nowrap;
}
#c51036 ul li {
	margin-left: 0px; float: left;
}
#c51036 ul li a:hover {
	color: rgb(255, 255, 255);
}
#c51036 ul li a#current {
	color: rgb(255, 255, 255);
}
#c51036 ul li ul {
	border: 0px solid rgb(204, 204, 204); display: none; position: absolute;
}
#c51036 ul li ul li {
	margin: 0px; font-family: 宋体; font-size: 12px; text-decoration: none; float: none;
}
#c51036 ul li ul li a {
	height: 28px; text-align: center; color: rgb(255, 255, 255); line-height: 28px;
}
#c51036 ul li ul li a:hover {
	color: rgb(255, 255, 255);
}
#c51036 ul li:hover ul {
	display: block; z-index: 9999999;
}
#c51036 ul li.sfhover ul {
	display: block;
}
#c51037 ul {
	list-style: none; margin: 0px; padding: 0px;
}
#c51037 ul li a {
	padding: 0px; width: 80px; height: 38px; color: rgb(255, 255, 255); line-height: 40px; font-family: 宋体; font-size: 12px; text-decoration: none; display: block; white-space: nowrap;
}
#c51037 ul li {
	margin-left: 0px; float: left;
}
#c51037 ul li a:hover {
	color: rgb(255, 255, 255);
}
#c51037 ul li a#current {
	color: rgb(255, 255, 255);
}
#c51037 ul li ul {
	border: 0px solid rgb(204, 204, 204); display: none; position: absolute;
}
#c51037 ul li ul li {
	margin: 0px; font-family: 宋体; font-size: 12px; text-decoration: none; float: none;
}
#c51037 ul li ul li a {
	height: 28px; text-align: center; color: rgb(255, 255, 255); line-height: 28px;
}
#c51037 ul li ul li a:hover {
	color: rgb(255, 255, 255);
}
#c51037 ul li:hover ul {
	display: block; z-index: 9999999;
}
#c51037 ul li.sfhover ul {
	display: block;
}
a.c51038 {
	color: rgb(255, 255, 255); line-height: 150%; font-size: 9pt; text-decoration: none;
}
a.c51038:link {
	color: rgb(255, 255, 255); text-decoration: none;
}
a.c51038:visited {
	color: rgb(255, 255, 255); text-decoration: none;
}
a.c51038:active {
	color: rgb(255, 255, 255); text-decoration: none;
}
a.c51038:hover {
	color: rgb(255, 255, 255); text-decoration: none;
}
.morestyle51302 {
	font-size: 9pt;
}
.leaderfont51302 {
	color: rgb(255, 255, 255); line-height: 240%; padding-left: 24px; font-size: 9pt;
}
.titlestyle51302 {
	color: rgb(255, 255, 255); line-height: 240%; font-size: 9pt;
}
.columnstyle51302 {
	line-height: 150%; font-size: 9pt; text-decoration: none;
}
.timestyle51302 {
	color: rgb(255, 255, 255); font-size: 9pt;
}
a.c51302 {
	color: rgb(255, 255, 255); line-height: 240%; font-size: 9pt;
}
a.c51302:link {
	color: rgb(255, 255, 255);
}
a.c51302:visited {
	color: rgb(255, 255, 255);
}
a.c51302:active {
	color: rgb(255, 255, 255);
}
a.c51302:hover {
	color: rgb(255, 255, 255);
}
.winstyle51034 {
	font-size: 9pt;
}
