$def with (movies)
<h4><a href='/'>返回首页</a></h4>
<h1><a href=$movies.url>$movies.title</a></h1>
<h3>原名：$movies.origin</h3>
<hr>
<img src=$movies.image></img>
<p>评分：$movies.rating</p>
<p>类型：$movies.genres</p>
<p>年代：$movies.year</p>
<p>国家：$movies.countries</p>
<p>导演：
$ directors = movies.directors.split(',')
$for director in directors:
	<a href='/director/$director'>$director</a>
</p>

<p>主演：
$ casts = movies.casts.split(',')
$for cast in casts:
    <a href="/cast/$cast">$cast</a>
</p>
<p>简介：$movies.summary</p>