<h1><a href='{% url "myblog:index" %}'>Welcome To My Blog!</a></h1>
<form method='POST' action='{% url "index:registration" %}'>
{% csrf_token %}
	<label>用户名：</label>
	<input type="text" name="username" placeholder='请输入用户名' required='required' ></input>
	<label>密码：</label>
	<input type='password' name='password' placeholder='请输入密码' required='required'></input>
	<label>邮箱：</label>
	<input type='email' name='email' placeholder='请输入邮箱' required='required'></input>
	<input type='submit'></input>
</form>