<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
	{% load static %}
	<link rel='stylesheet' type='text/css' href="{% static 'base.css' %}" />
	{% block link %}<link />{% endblock %}
    <title>{% block title %}标题{% endblock %}</title>
</head>
<body>
<header>
	{% if user.is_authenticated %}
		{% include 'index/logout.html' %}
	{% else %}
		<span>
			{% include 'index/login.html' %}
			<span>|</span>
			<a href='{% url "index:registration" %}'><button>注册</button></a>
		</span>
	{% endif %}
	{% block header %}{% endblock %} 
</header>
<hr />
<nav>
	{% block nav %}
		<span>导航</span>
		{% if user.is_authenticated %}
			<a href='{% url "myblog:editor" %}?user_id={{ user.id }}&article_id={{ -1 }}'><button>添加文章</button></a>
		{% else %}
			<a href='{% url "index:login" %}'><button>添加文章</button></a>
		{% endif %}
	{% endblock %}
</nav>
<hr />
{% block content %}内容{% endblock %}
<footer>
	{% block footer %}页脚{% endblock %}
	<span><b><a>***感谢访问***</a></b></span>
</footer>
</body>
</html>